canvas#main-canvas {
    position: absolute;

    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#background-div {
    position: absolute;

    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 15px;

    width: 1050px;
    height: 550px;
}

div#div-canvas {
    position: absolute;

    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 15px;

    width: 1050px;
    height: 550px;
}